header > nav { 
	padding-left:1em;
	display:flex;
	justify-content:space-between;
}
header > nav ul {
	display:flex;
}
nav li{
list-style:none;
margin-right:3em;
}


/* materialize */
ul.dropdown-content{
top:63px !important;
}
.alinea-flecha > i{
margin-top:6px;
cursor:pointer;
}


/*------------------------------------------------------*/
aside{
border-right:1px solid #ccc ;
}

.collection{
border:0;
}
.collection > .collection-item{
border:0;
}


/*--------------------------------------------------------------*/

.card{
width:18%;
}
main{
padding:1em;
display:flex;
flex-flow:wrap;
}
.content{
padding:1em;
}
/*----------------------------------------------*/
body{
display:flex;
flex-flow:wrap;
}
header{
width:100%;
}
aside{
width:240px;
}
main{
width:calc(100% - 240px);
}
/*----------------------------------------------*/
header{
display:flex;
align-items:center;
background:#E57373;
box-shadow:0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
}
nav{
background:rgba(255,255,255,0);
box-shadow:0 0 0 0;
}
header figure{
color: #fff;
}
/*----------------------------------------------*/

@media (max-width: 930px) {
	aside{
	width:100%;
	}
	main{
	width:100%;
	}
	nav ul{
	display:flex;
	flex-flow:wrap;
	}
	nav{
	padding:0 !important;
	height:100%;
	display:flex;
	flex-flow:wrap;
	}
	header{
	width:100%;
	display:flex;
	flex-flow:wrap;
	justify-content:center;
	}
	nav li{
	width:100% !important;
	
	}
	.card{
	width:100px;
	}
}