*{
margin:0;
}
header,main,footer{
width:100%;
}
header{
width:100%;
height:120px;

background:#f0f0f0;
border-bottom:9px solid #9a1413;
}
main{

}
footer{
width:100%;
height:120px;
background:linear-gradient(#9a1413,#741010);
}

div{
/*width:230px;*/
display:flex;
flex-flow:wrap;
/*/justify-content:center*/
}

.login1{
/*background:#f7f7f9;*/
border:1px solid #cccccc;
display:flex;
justify-content:center;
}
form{

}
form button, form input{
padding:9px;
border-radius:3px;
border:1px solid #cccccc;
margin:9px;
}
.login1 input{
padding:9px;
border-radius:3px;
border:1px solid #cccccc;
margin:9px;
}
.login1 button{
padding:5px;
width:100%;
height:3em;
margin:9px;

border:1px solid #cccccc;
background:#9a1413;
color:#fff;
border-radius:6px;
}
.login1 a{
font-size:12px;
}
.login1, main>section>article{
border-radius:9px;
padding:1.5em;

font-family:arial;
line-height:21px;
}
.inputimg{
display:flex;
flex-wrap:wrap;
}

@media screen and (min-width: 900px){
main{
display:flex;
}
main>section{
width:50%;
}

}

@media screen and (min-width: 600px){
.login1, main>section>article{
margin:3.3em;
}
}


