.tabla{
padding: 3em;
margin:0 auto;
}
.collapsible{
border: 0 !important;
box-shadow: none !important;
width:300px;
}
.collapsible div{
border: 0 !important;
}
.collapsible li{
border: 0 !important;
}