<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="iso-8859-1">
<meta name="description" content="Ejemplo de HTML5">
<meta name="keywords" content="HTML5, CSS3, JavaScript">
<title>Este texto es el título del documento</title>
<link rel="stylesheet" href="css/estilos.css">
<script>
 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, "");
  });
  
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, "");
  });
</script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	 
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>
<body ng-app="app" ng-controller="control" ng-init="inicio()">
<header>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Computadora</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">usuario@gmail.com</a></li>
        <li>Administrador</li>
        <li><a href="collapsible.html"><i class="material-icons">exit_to_app</i></a></li>
      </ul>
    </div>
  </nav>
 </header>
 
<main>
<section class="tabla">
<button data-target="agregar" class="btn-floating btn waves-effect waves-light red right modal-trigger"><i class="material-icons">add</i></button>
	<table>
        <thead>
          <tr>
              <th>Descripción</th>
              <th>Precio</th>
              <th>Stock</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="x in listaComputadora">
            <td>{{ x.descripcionComputadora }}</td>
            <td>{{ x.precio }}</td>
            <td>{{ x.stock }}</td>
			<td><button data-target="actualizar" ng-click="actualizar(x.id, x.descripcionComputadora, x.precio, x.stock, x.fechaFabricacion, x.marca)" class="btn-flat modal-trigger"><i class="material-icons">update</i></button></td>
			<td><button class="btn-flat"><i class="material-icons">delete</i></button></td>
          </tr>
        </tbody>
      </table>
</section>
<!-- Modal agregar -->
  <div id="agregar" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Agregar Computadora</h4>
      <div class="row">
    <form class="col s12">
      <div class="row">
        <div class=" col s12">
		<label >Descripción</label>
          <input type="text" >
          
        </div>
      </div>
      <div class="row">
        <div class=" col s6">
		<label >Precio</label>
          <input  type="text" >
          
        </div>
		<div class=" col s6">
		 <label >Stock</label>
          <input type="text" >
         
        </div>
      </div>
      <div class="row">
        <div class=" col s6">
		<label >Fecha Fabricación</label>
          <input type="email" >
          
        </div>
		<div class=" col s6">
		<label >Marca</label>
          <select name="cboDis" class="browser-default">
			<option  ng-repeat="x in listaMarca" value="{{x.id}}">{{x.nombre}}
			<option  value="-1">Seleccione
		</select>
        </div>
      </div>
   <button class="btn-small" type="button" name="action">Enviar
  </button>
    </form>
  </div>
    </div>
    <div class="modal-footer">
      <a  class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
  <!-- fin modal agregar -->
  <!-- Modal actualizar -->
  <div id="actualizar" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Actualizar Computadora</h4>
      <div class="row">
    <form class="col s12">
      <div class="row">
        <div class=" col s12">
		<label >Descripción</label>
          <input type="text" ng-model="descripcionComputadora">
          
        </div>
      </div>
      <div class="row">
        <div class=" col s6">
		<label >Precio</label>
          <input  type="text" ng-model="precio">
          
        </div>
		<div class=" col s6">
		 <label >Stock</label>
          <input type="text" ng-model="stock">
         
        </div>
      </div>
      <div class="row">
        <div class=" col s6">
		<label >Fecha Fabricación</label>
          <input type="text" ng-model="fechaFabricacion">
          
        </div>
		<div class=" col s6">
		<label >Marca</label>
          <select name="cboDis" class="browser-default">
			<option  ng-repeat="x in listaMarca" value="{{x.id}}">{{x.nombre}}
			<option  value="-1">Seleccione
		</select>
        </div>
      </div>
   <button class="btn-small" type="button" name="action">Enviar
  </button>
    </form>
  </div>
    </div>
    <div class="modal-footer">
      <a  class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
  <!--fin modal actualizar-->
</main>
</body>
<script>
var app = angular.module('app', []);
app.controller('control', function($scope, $http) {
	$scope.inicio = function(){
		$scope.e_listaComputadora();
		$scope.e_listaMarca();
	}
  /*$http({
    method : "GET",
    url : "api/usuarios"
  }).then(function mySuccess(response) {
      $scope.myWelcome = response.data;
    }, function myError(response) {
      $scope.myWelcome = response.statusText;
  });*/
  $scope.e_listaMarca = function(){

		$scope.listaMarca = [
		                {
		                	id : 1,
							nombre: "Asus"
		                },
						{
		                	id : 2,
							nombre: "Lenovo"
		                },
						{
		                	id : 3,
							nombre: "HP"
		                }
						]	
		                
	},
  $scope.e_listaComputadora = function(){
		$scope.listaComputadora = [
		                {
		                	id : 1,
		                	descripcionComputadora : 'Asus 3000',
							precio : 3000,
							stock: 30,
							fechaFabricacion: '2019-08-08',
							marca: 1
		                },
		                {
		                	id : 2,
		                	descripcionComputadora : 'Lenovo 3000',
							precio : 3000,
							stock: 30,
							fechaFabricacion: '2019-08-08',
							marca: 2
		                },
						{
		                	id : 3,
		                	descripcionComputadora : 'HP DD312',
							precio : 3000,
							stock: 30,
							fechaFabricacion: '2019-08-08',
							marca: 3
		                },
						{
		                	id : 4,
		                	descripcionComputadora : 'DELL DD312',
							precio : 3000,
							stock: 30,
							fechaFabricacion: '2019-08-08',
							marca: 3
		                }
		                ]
	},
	$scope.actualizar = function(cod, descripcionComputadora, precio, stock, fechaFabricacion, marca){
		$scope.descripcionComputadora = descripcionComputadora;
		$scope.precio = precio;
		$scope.stock = stock;
		$scope.fechaFabricacion = fechaFabricacion;
		
		console.log(cod);
	}
});

</script>
<script>
/*function registrar(){
        var parametros = {
                "clave" : $("#password").val(),
                "correo" : $("#email").val(),
        };
        $.ajax({
                data:  parametros, //datos que se envian a traves de ajax
                url:   'api/rbuscaUsuarioo', //archivo que recibe la peticion
                type:  'post', //mtodo de envio
                beforeSend: function () {
                        $("#resultado").html("Procesando, espere por favor...");
                },
                success:  function (response) { //una vez que el archivo recibe el request lo procesa y lo devuelve
                        $("#resultado").html(response);
						if(response.valida == 1){
							alert(":)");
						}else{
							alert(":(");
						}
                }
        });
}
*/

</script>

</html>