* {
margin: 0px;
padding: 0px;
}
/*------------lista_style----------------*/
#agrupar {
width: 960px;
margin: 15px auto;
text-align: right;
}
#menu {
background: #CCCCCC;
padding: 5px 15px;
}
#menu li {
display: inline-block;
list-style: none;
padding: 5px;
font: bold 14px cursive;
}
a{
text-decoration: none;

}

/*------------select_style----------------*/
select{
 border:1px solid #CCCCCC;
 background: #CCC;
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
 /*font-family: cursive; font-size: 14px; color: white; */
font: bold 14px cursive;
 }
option {
font-family: font-size: 0px; color: black;
}
option#o {
background-color: #666
}
.catorceletrascatorcepx {
		width: 100px;
	}
/*--------------------------------------------*/