* {
margin: 0px;
padding: 0px;
font-family:arial;
}

#fondocabeza{
background:url('b.jpg');
height:100vh;
background-repeat: no-repeat;
background-size:100% 100%;
}
i{
color:#fff;
font-size:3em !important;
}
i:last-child{
margin-left: auto;
}
ul{
display:flex;
padding:3em;
}
li{
list-style: none;
/*
padding:18px;
color:#fff;
margin-left:1em;*/
color:rgba(0,0,0,0.2);
font-weight:bold;
font-size:2em;
}
nav li:hover, header i{
color:#fff;
cursor:pointer;
}
::-webkit-scrollbar{
    width: 3px;/*3*/
}

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #fff;
}
::-webkit-scrollbar-thumb{
    background-color: #fff; 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}
header a:first-child{
color:#fff;
font-size:3em;
}
@media (max-width: 600px){
#fondocabeza{
background:url('b3.jpg');
background-repeat: no-repeat;
background-size:100% 100%;
}
}
@media (max-width: 400px){
#fondocabeza{
background:#ccc;
background-repeat: no-repeat;
background-size:100% 100%;
}
}